[Unit]
Description=Kurtosis Portal Daemon
Documentation=https://kurtosis.com
After=docker.service
Wants=ndocker.service

[Service]
Type=simple
ExecStart={WORK_DIR}/kurtosis-portal --server-only --tls-ca {WORK_DIR}/ca.pem --tls-server-cert {WORK_DIR}/server-cert.pem --tls-server-key {WORK_DIR}/server-key.pem
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=0
RestartSec=2
Restart=always

SyslogIdentifier=kurtosis-portal

[Install]
WantedBy=multi-user.target
